:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
  --main-font-family: "Roboto", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  background-color: var(--additional-text-color);
  border-bottom: 1px solid #ececec;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}
.main-nav {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.logo {
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logo-title {
  color: var(--accent-color);
}
/*Site-nav*/

.site-nav {
  display: inline-flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link-porfolio:hover,
.site-nav .link-porfolio:focus,
.site-nav .link-porfolio:visited {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.item .link {
  fill: #757575;
}
.link:hover .auth-icon,
.link:focus .auth-icon {
  fill: var(--accent-color);
}

.auth-icon {
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.auth-nav-icon {
  display: inline-flex;
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero section*/
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/main/hero/123-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  color: var(--additional-text-color);
  font-family: var(--main-font-family);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  /* display: inline-block; */
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--additional-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.hero-button:hover {
  background-color: #188ce8;
}

/* Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-icon {
  display: block;
  text-align: center;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.modal-button:hover {
  fill: var(--accent-color);
}
/*Modal-form*/

.modal-form h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.form-group:focus-within {
  fill: var(--accent-color);
}
.form-input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.text-input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}
.text-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-icon {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(150%);
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.16;
  margin-bottom: 4px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

textarea {
  resize: none;
}
.checkbox {
  background-color: rgb(126, 97, 231);
  width: 16px;
  height: 15px;

  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.contract {
  color: var(--accent-color);
  text-decoration: underline;
}

.agreement-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.agreement-form .form-label {
  margin-left: 8px;
}
.modal-icon-svg {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
}
.checkbox:checked + .modal-icon-svg {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../image/icon/check.svg");
  background-size: contain;
  background-origin: border-box;
}
.send-button {
  padding: 10px 56px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  color: var(--additional-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.send-button:hover {
  background-color: #188ce8;
}
/*Benefit section*/

.benefits.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.benefits-icon-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  margin-bottom: 94px;
  margin: 0;
  padding: 0;
}
.benefits-list .list {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.benefits-list > .list:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/* what we are doing*/
.work.section {
  padding-top: 0;
  padding-bottom: 94px;
}
.work-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.work-item .list:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  padding: 0;
  margin-bottom: 50px;
}
.work-thumb {
  position: relative;
}
/* .work-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  /* opacity: 1; */

.work-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--additional-text-color);
}
/*Our teammembers*/

.teammembers.section {
  background-color: #f5f4fa;
  text-align: center;
  padding: 94px 0;
  margin-bottom: 0;
}

.teammembers-title {
  margin-bottom: 50px;
}

.members.list {
  display: flex;
  justify-content: space-between;
}

.description h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.list-item {
  background-color: var(--additional-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.list-item p {
  max-width: 270px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.description {
  display: block;
  padding: 30px 0;
}
.description h3 {
  margin-bottom: 10px;
}
.social-icons {
  display: inline-flex;
  margin-top: 16px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: #ffffff;
}
.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}
/*Our clients*/

.clients.section {
  padding: 94px 0;
}

.clients.list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}
.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 30px * 6) / 6);
  margin-left: 30px;
  margin-top: 30px;
  padding: auto;
}
.clients-icon {
  fill: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

/*Footer*/

.footer.section {
  padding: 60px 0;
  background-color: #2f303a;
  margin: 0;
}

.footer.container {
  display: flex;
  justify-content: space-between;
}
.widget {
  flex-basis: calc((50%-45px) / 2);
}
.widget:last-child {
  flex-basis: calc(50%-15px);
}

.footer-nav .logo {
  margin-bottom: 20px;
}
.logo-item {
  color: var(--additional-text-color);
}

.address-text {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  margin: 0;
}
.address-text a {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  color: var(--additional-text-color);
}
.auth-list {
  display: block;
  text-align: left;
  margin: 9px 0 0;
  padding: 0;
}
.auth-item {
  color: rgba(255, 255, 255, 0.6);
}
.mail.list {
  margin-bottom: 9px;
}

/* footer icons*/

.social {
  /* display: block; */
  margin: 0;
  padding: 0;
  /* margin-left: 70px; */
  /* max-width: 260px; */
}

.social-icons {
  padding: 0;
  margin: 0;
}
.footer .social-icons-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer.social-icons,
.footer.form-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer .social-icons-link:hover,
.footer .social-icons-link:focus {
  background-color: var(--accent-color);
}
.footer .icon {
  fill: #fff;
}

.form-field {
  display: flex;
  /* width: 100%; */
  /* outline: 1px solid blue; */
}
.form-field input {
  max-width: 358px;
  padding: 15px 295px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
}

.form-button {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--additional-text-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.form-button:hover {
  background-color: #188ce8;
}

.form-svg {
  margin-left: 10px;
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
}

/*Portfolio*/

.site-nav .current {
  color: var(--accent-color);
}
.link.current {
  position: relative;
}
.site-nav .current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.main-section {
  background-color: var(--primary-bg-color);
  padding: 94px 0;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  cursor: pointer;
}
.filters {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding: 0;
}
.filters > .list {
  padding: 0;
}
.filters > .list:not(:last-child) {
  padding-right: 8px;
}

.filters .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.current,
.button.active,
.filters .link:hover,
.filters .link:focus {
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}
.menu-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.note {
  border-bottom: none;
  padding: 20px 24px;
}
.note h2 {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  padding-bottom: 0;
  margin-bottom: 4px;
}

.menu-item .foto {
  display: block;
  margin: 0;
}
.note-item {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.foto-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text-overlay {
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.foto:hover .foto-overlay,
.foto:focus .foto-overlay {
  background-color: var(--accent-color);
  transform: translateY(0);
}
.menu-item:hover,
.menu-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
